<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
	<header>
		<div class="bs-component fixed-top">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<a class="navbar-brand" href="/">Inscripción Cursos Virtuales</a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
						aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="/cursos?rol=coordinador">Coordinador</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/cursos?rol=interesado">Interesado</a>
							</li>
							<div class="form-inline">
								
							</div>
							
						</ul>
						
					</div>
				</div>
			</nav>
		</div>
		<div class="jumbotron jumbotron-fluid" style="margin-top: 1em;">
			<div class="container ">
				<h3 class="display-6">Bienvenidos</h3>
				<h1 class="display-4">Inscripción De Cursos Virtuales</h1>

			</div>
		</div>
	</header>